<!-- templates/planetary/mars_page.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>A Guide To Mars</h1>

<div class="center">
    <h3 class="box-title">Location and Orbit</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-location.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li>  
                    
                </li>
                <li>
                    
                </li>
                <li>
        
                </li>
            </ul>
        </div>
    </div>
    <h3 class="box-title">About</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-about.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li></li>
                <li>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </div>
    <h3 class="box-title">Tour Info</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-tour.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li>The length of the "tour name" is: "tour length in days" </li>
                <li>The total number of people that can register for this tour is: "num of people"</li>
                <li>For any questions about this tour or any others we offer please reach out. We are hapy to
                    make any needed accomodations or answer any questions relevant to the services we offer.
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}