<!-- templates/planetary/mars_page.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>A Guide To Mars</h1>

<div class="center">
    <h3 class="box-title">Location and Orbit</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-location.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li>  
                    Mars is the fourth planet from the sun and has an orbital period of 687 Earth days. 
                </li>
                <li>
                    It is located about 228 million kilometers from the Sun (1.5 AU away) and take light 13 minutes 
                    to reach mars. 
                </li>
                <li>
                    About half the size of Earth, it has a radius of 3,390 kilometers. 
                </li>
            </ul>
        </div>
    </div>
    <h3 class="box-title">About</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-about.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li>
                    Mars has distinct seasons as its tilt is about that of Earth at 25 degrees. Though the seasons will
                    last much longer and have varied lengths due to its elliptical orbit around the Sun. 
                </li>
                <li>
                    There are two moons that orbit mars, Phobos and Deimos, that are thought to be captured asteriods. 
                </li>
                <li>
                    Known for its red hue, from the oxidized iron, Mars is also home to many canyons and even the 
                    largest volcano in the solar system. Named Olympus Mons, it is approximately 21 kilometers high and 
                    600 kilometers wide. 
                </li>
            </ul>
        </div>
    </div>
    <h3 class="box-title">Tour Info</h3>
    <div class="info-item">
        <img src="{% static 'images/mars-tour.jpg' %}" class="planet-image">
        <div class="info-text">
            <ul>
                <li>The length of the "tour name" is: "tour length in days" </li>
                <li>The total number of people that can register for this tour is: "num of people"</li>
                <li>For any questions about this tour or any others we offer please reach out. We are hapy to
                    make any needed accomodations or answer any questions relevant to the services we offer.
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}