asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
cryptography==43.0.3
defusedxml==0.7.1
Django==5.1.2
django-allauth==65.1.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-widget-tweaks==1.5.0
idna==3.10
oauthlib==3.2.2
psycopg==3.2.3
psycopg-binary==3.2.3
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
slippers==0.6.2
sqlparse==0.5.1
toml==0.10.2
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.2.3
whitenoise==6.8.2
