.apod_title
	color: white
	text-align: center

.apod_date
	color: white
	text-align: center
	font-size: 20px

.apod_img
	display: flex
	justify-content: center
	align-items: center
	padding-bottom: 5%
