h1 {
    text-align: center;
    color: white;
    padding-top: 3%;
    font-size: 45px;
    padding-bottom: 5%;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    color: white;
}

body {
    background-color: black;
}

/* classes */
.logo {
    max-height: 120px;
    width: auto;
}

@media (max-width: 768px) {
    .logo {
        max-height: 40px;
    }
}

.person1 {
    font-size: 20px;
    font-weight: 4;
    color: #fe9035;
}

.person2 {
    font-size: 20px;
    font-weight: 4;
    color: #c97cbc;
}

.person3 {
    font-size: 20px;
    font-weight: 4;
    color: #3746fe;
}

.name {
    color: white;
}

.intro {
    color: white;
    text-align: center;
    font-size: 20px;
}

.intro-planetary {
    color: white;
    text-align: center;
    font-size: 24px;
}

.about {
    color: white;
    text-align: center;
    font-size: 20px;
}

.sign-up {
    color: white;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 5%;
}

.col {
    width: 250px;
    text-align: center;
    padding: 2%;
}

.col-img {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.column img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.column p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    font-size: 15px;
}

.about-me {
    text-align: center;
    color: white;
    font-size: 20px;
}

.person {
    text-align: center;
    padding: 10px 20px;

}

/* colors */
.white {
    color: white;
}

.purple {
    background-color: #9669e4;
}

.pretty {
    background: linear-gradient(to right, #fe9035, #c97cbc, #9067e7, #3746fe);
}

/* toolbar */
.navbar-custom {
    background: linear-gradient(to right, #fe9035, #c97cbc, #9067e7, #3746fe);
}

.navbar-text {
    color: white;
    font-weight: 700;
}

/* code for the javascript images */
.border {
    padding-top: 3%;
    padding-bottom: 3%;
    border-color: transparent;
    outline: none;
    border: none !important;
}

.slideshow-container {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border: none;
}

.slide-move {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
}

img {
    width: 400px;
    height: 400px;
    border: 5px solid linear-gradient(to right, #fe9035, #c97cbc, #9067e7, #3746fe);
    border-radius: 10px;
    box-sizing: border-box;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* Center vertically */
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Dark background on hover */
}

/* button */

.button-29 {
    align-items: center;
    appearance: none;
    background-image: linear-gradient(to right, #fe9035, #c97cbc, #9067e7, #3746fe);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.button-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* sign up/ login */

.form-text {
    color: white !important;
}