<!-- templates/planetary.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Planetary Tours</h1>

<p class="intro-planetary">Welcome to the planetary and exo-planetary tours we offer. Whether you want so stay close to home and 
    explore our solar system or you have a taste for adventure and want to go beyond the reaches of our
    Sun we have just the destination for you. With a variety of planets, dwarf planets, and exoplanets
    you will be sure to find a place that draws you in. </p>
<p class="intro-planetary">From gaseous giants of swirling gases, to terrestrial and rocky planets littered with craters, each body 
    provides its own unique features. Explore worlds unlike no other! </p>

<div class="col-img">
    <div class="column">
        <img src="{% static 'images/mercury.jpg' %}">
        <h3>Mercury</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/mars.png' %}">
        <h3>Mars</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/neptune.jpg' %}">
        <h3>Neptune</h3>
        <p>3</p>
    </div>
</div>
<div class="col-img">
    <div class="column">
        <img src="{% static 'images/pluto.jpg' %}">
        <h3>Pluto</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/kepler186f.jpg' %}">
        <h3>Kepler 186f</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/sedna.jpg' %}">
        <h3>Sedna</h3>
        <p>3</p>
    </div>
</div>

{% endblock %}