<!-- templates/stellar.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Stellar Tours</h1>

<p class="intro-planetary">Welcome to the stellar tours we offer. /add your intro here/ </p>
<p class="intro-planetary">/optional second/ </p>

<div class="col-img">
    <div class="column">
        <img src="{% static 'images/#.jpg' %}">
        <h3>title</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/#.png' %}">
        <h3>title</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/#.jpg' %}">
        <h3>title</h3>
        <p>3</p>
    </div>
</div>
<div class="col-img">
    <div class="column">
        <img src="{% static 'images/#.jpg' %}">
        <h3>title</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/#.jpg' %}">
        <h3>title</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/#.jpg' %}">
        <h3>title</h3>
        <p>3</p>
    </div>
</div>

{% endblock %}