<!-- templates/stellar.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Stellar Tours</h1>

<p class="intro-planetary">Welcome to our Stellar tours where you can learn about our Galaxy's stellar wonders! From constellations 
    to the stars that make them up if you want a guide to the stars you're in the right place! </p>
<p class="intro-planetary">Learn about the Stars of our galaxy and what makes them tick or, whether it be the stars that compose them or the folklore that created them, explore the nature of Earth's constellations! </p>


<div class="tour-grid">
    {% for star in startours %}
        <div class="tour-item">
            <a href="{% url 'star_tour' pk=star.pk %}">
                <img class="tour-image" src="{{ star.image.url }}" alt="{{ star.name }} Image">
            </a>
            <h3>{{ star.name }}</h3>
        </div>
    {% endfor %}
</div>

<div class="tour-grid">
    {% for const in constellationtours %}
        <div class="tour-item">
            <a href="{% url 'constellation_tour' pk=const.pk %}">
                <img class="tour-image" src="{{ const.home_image.url }}" alt="{{ const.name }} Image">
            </a>
            <h3>{{ const.name }}</h3>
        </div>
    {% endfor %}
</div>


{% comment %} <div class="col-img">
    <div class="column">
        <a href='stars/1/'><img src="{% static 'images/stars/Betelgeuse.jpg' %}"></a>
        <h3>Betelgeuse</h3>
        <p>A Red Supergiant</p>
        <p>640 Light Years Away!</p>
    </div>
    <div class="column">
        <a href='stars/2/'><img src="{% static 'images/stars/Polaris.jpg' %}"></a>
        <h3>Polaris</h3>
        <p>A Supergiant Cepheid Star</p>
        <p>Also known as "The North Star"</p>
    </div>
    <div class="column">
        <a href='stars/3/'><img src="{% static 'images/stars/Sirius.jpg' %}"></a>
        <h3>Sirius</h3>
        <p>A Main Sequence Star</p>
        <p>The brightest star in the Earth's night sky!</p>
    </div>
</div>
<div class="col-img">
    <div class="column">
        <a href='constellations/1/'><img src="{% static 'images/constellations/BigDipper.jpg' %}"></a>
        <h3>The Big Dipper</h3>
        <p>Part of the larger constellation Ursa Major<p/>
        <p>Known by many names, including "The Plough", "Great Wagon", and "Norther Dipper" to name a few</p>
    </div>
    <div class="column">
        <a href='constellations/2/'><img src="{% static 'images/constellations/Cygnus.jpg' %}"></a>
        <h3>Cygnus</h3>
        <p>Visible from both of Earth's hemispheres!<p/>
        <p>Associated with Greek Mythology.</p>
    </div>
    <div class="column">
        <a href='constellations/3/'><img src="{% static 'images/constellations/Orion.jpg' %}"></a>
        <h3>Orion</h3>
        <p>Takes its name from Greek Mythology<p/>
        <p>Contains two of the brightest stars in Earth's night sky!</p>
    </div>
</div> {% endcomment %}

{% endblock %}