<!-- templates/stellar.html -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1>Stellar Tours</h1>

<p class="intro-planetary">Welcome to our Stellar tours where you can learn about our Galaxy's stellar wonders! From constellations 
    to the stars that make them up if you want a guide to the stars you're in the right place! </p>
<p class="intro-planetary">Learn about the Stars of our galaxy and what makes them tick or, whether it be the stars that compose them or the folklore that created them, explore the nature of Earth's constellations! </p>

<div class="col-img">
    <div class="column">
        <img src="{% static 'images/Betelgeuse.jpg' %}">
        <h3>Betelgeuse</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/Polaris.jpg' %}">
        <h3>Polaris</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/sirius.jpg' %}">
        <h3>Sirius</h3>
        <p>3</p>
    </div>
</div>
<div class="col-img">
    <div class="column">
        <img src="{% static 'images/BigDipper.jpg' %}">
        <h3>The Big Dipper</h3>
        <p>1</p>
    </div>
    <div class="column">
        <img src="{% static 'images/Cygnus.jpg' %}">
        <h3>Cygnus</h3>
        <p>2</p>
    </div>
    <div class="column">
        <img src="{% static 'images/Orion.jpg' %}">
        <h3>Orion</h3>
        <p>3</p>
    </div>
</div>

{% endblock %}