{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}


{% block title %}Profiles{% endblock title %}

{% block content %}

{% comment %} TODO - make not bad {% endcomment %}


<div class="profiles">
	{% comment %} <ul>
		{% for object in object_list %}
		<li><a href="{% url "profiles:view" pk=object.pk %}">{{ object }}</a></li>
		{% endfor %}
	</ul> {% endcomment %}

	<div class="profiles-grid">
		{% for object in object_list %}
			<div class="card profiles-card" style="width: 18rem;">
				{% comment %} <img class="card-img-top" src="https://placebear.com/g/300/500" alt="Card image cap"> {% endcomment %}
				<div class="card-body profiles-card-body">
					<h5 class="card-title">{{ object }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{ object.real_account.first_name }} {{ object.real_account.last_name}}</h6>

					<div class="profiles-card-info">
						<p class="card-text"><strong>Home planet:</strong> {{ object.get_home_planet_display }}</p>
						<p class="card-text"><strong>Preferred language:</strong> {{ object.get_language_display }}</p>


						<a href="{% url 'profiles:view' pk=object.pk %}" class="btn btn-primary">View profile</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}