{% extends "base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% comment %} {% load static %} {% endcomment %}


{% block title %}Profile{% endblock title %}

{% block content %}

<div class="profiles profiles-detail">
	<h2>{{ profile_user.first_name }} {{ profile_user.last_name }}</h2>
	
	{% if object.real_account == user %}
		<a href="{% url "profiles:update" pk=object.pk %}" class="btn btn-sm btn-primary float-end">Update profile</a>
	{% endif %}
	
	<div class="profiles-part">
		<h3>Bio</h3>
		<p>{{ object.bio }}</p>
	</div>
	
	<div class="profiles-part">
		<h3>Home planet</h3>
		<p>{{ object.get_home_planet_display }}</p>
	</div>
	
	<div class="profiles-part">
		<h3>Preferred Language</h3>
		<p>{{ object.get_language_display }}</p>
	</div>
	
	
	<div class="profiles-part">
		{% if object.real_account == user %}
		<h3>Linked accounts</h3>
		<ul>
			<li>{{ user.username }} - local account</li>
		</ul>
		{% endif %}
	</div>
</div>


{% endblock content %}